/* sdbStyleTest2 */

body, html, .mainWrapper {
  font-family: "Helvetica Neue", Helvetica, Arial;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #3b3b3b;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  /*background: #2b2b2b; */
  background: #f2f2f2 url('img/bkg2.png');
  height: 100%;
}

/*body > */ .mainWrapper{
  min-height: 100%;
  height: auto;

}

.content{
  padding-bottom: 3em;
}

h1{
  text-align: center;
  padding-top: 20px;
}

.tableWrapper {
  margin: 0 auto;
  padding: 40px;
  max-width: 800px;
}

.signIn{
  border: 2px solid black;
  border-radius: 10px;

}

.footer{
  clear: both;
  text-align: center;
  position: relative;
  font-size: 14px;
  color: #666666;
  font-weight: 200;
  height: 3em;
  margin-top: -3em;
 }


/* ---------------------START TABLE CSS---------------------*/

.table {
  margin: 0 0 40px 0;
  width: 100%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  display: table;
}

/*these media querys run the css within if the browser
passes the tests it contains. 1 - that it identifies as a 'desktop class' device. 
and 2, that the width of the window is 580px (css pixels) wide or less. Essentially,
if the screen reaches a width smaller than 580px, it displays the table as a block
*/

@media screen and (max-width: 580px) { 
  .table {
    display: block;
  }
}

.row {
  display: table-row;
  background: #f6f6f6;
}
.row:nth-of-type(odd) { 
  background: #e9e9e9;
}
.row.header {
  font-weight: 900;
  color: #ffffff;
  background: #ea6153;
}
/*
.row.green {
  background: #27ae60;
}
.row.blue {
  background: #2980b9;
}
*/

@media screen and (max-width: 580px) {
  .row {
    padding: 8px 0;
    display: block;
  }
}

.cell {
  padding: 6px 12px;
  display: table-cell;
}
@media screen and (max-width: 580px) {
  .cell {
    padding: 2px 12px;
    display: block;
  }
}
